* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}


body {
    transition: all .50s ease;
}
body a {
    color: rgb(0, 0, 0);
}
a {
    text-decoration: none;
}

a.active {
    background: linear-gradient(to left, rgb(117,117,175), rgb(162, 92, 212));
    border-radius: 6px;
    color: white;
}

a.active:hover {
    color: white;
}
.darkmode {
    background:#000;
    color: rgb(255, 255, 255);
    transition: all .50s ease;
}

.darkmode a {
  color: rgb(255, 255, 255);
}
 .darkmode .search_bar input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    caret-color: white;
}

ul {
    list-style-type: none;
}

header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3.5%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.group-name {
    font-size: 3.52vmin;
    font-weight: 600;
}
.search_bar {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.search_bar input {
    padding: 4px 30px;
    text-align: center;
    caret-color: rgb(255, 255, 255);
    border-radius: 9px;
    border: none;
    font-size: 1.05rem;
    outline: none;
    background: linear-gradient(to left, rgb(117,117,175), rgb(162, 92, 212));
    color: white;
}

.search_bar input::placeholder {
    color: white;
}

.search_bar span {
    padding: 7px 10px;
    background: linear-gradient(to right, rgb(117, 117, 175), rgb(162, 92, 212));
    color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
}
.navbar ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar a {
    padding: 5px 4.5px;
    font-size: 1.06rem;
    transition: all .50s ease;
}
a:last-child:hover {
    color: white;
    
}
.navbar a:hover {
    color: rgb(173, 173, 207) 
}
.account {
    display: flex;
    align-items: center;
    gap: .4rem;
}
.account i.fa-bars {
    font-size: 1.33rem;
    font-weight: 600;
    color: rgb(162, 92, 212);
    display: none;
}
.account i {
    padding: 7px 10px;
    background: linear-gradient(to left, rgb(117, 117, 175), rgb(162, 92, 212));
    color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    transition: all .50s ease;
    font-size: 1.33rem;
}

.account i:hover {
    color: rgb(233, 180, 233);
}